/* Set the background color for the entire application */
body {
  background-image: url('./components/imgs/home/homebg1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  background-size: cover;
  max-height: auto;
  max-width: 100%;
  position: relative;

  margin: 0;
  color: white;
  font-family: 'Roboto Mono', monospace; 
}


a {
  color: white;
  text-decoration: none; 
}


*, *::before, *::after {
  box-sizing: border-box;
}
